@model AT.WebMVC.Models.HomeModel.ListaQuantidadeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div><h1 class="display-4">Quantidade de Pessoas: @Html.DisplayFor(model => model.QntPessoas)</h1></div>
    <h1 class="display-4">Quantidade de Países: @Html.DisplayFor(model => model.QntPaises)</h1>
    <h1 class="display-4">Quantidade de Estados: @Html.DisplayFor(model => model.QntEstados)</h1>
</div>
